@using Microsoft.FluentUI.AspNetCore.Components
@inject NavigationManager NavigationManager

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size24.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="transactions/true" Icon="@(new Icons.Regular.Size24.AppsList())" IconColor="Color.Accent">Transactions</FluentNavLink>

            <FluentNavGroup Title="Trends" Icon="@(new Icons.Regular.Size24.ChartMultiple())" Expanded="true">
                <ChildContent>
                    <FluentNavLink Href="income" Icon="@(new Icons.Regular.Size24.CalendarDataBar())" IconColor="Color.Accent">Net Income by month</FluentNavLink>
                    <FluentNavLink Href="cumulative" Icon="@(new Icons.Regular.Size24.DataArea())" IconColor="Color.Accent">Cumulative spending</FluentNavLink>
                    <FluentNavLink Href="spending" Icon="@(new Icons.Regular.Size24.DataPie())" IconColor="Color.Accent">By category</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>

            <FluentNavLink Href="ai" Icon="@(new Icons.Regular.Size24.Brain())" IconColor="Color.Accent">AI Analysis</FluentNavLink>
            
            <FluentNavGroup Title="Settings" Icon="@(new Icons.Regular.Size24.Settings())" Expanded="true">
                <ChildContent>
                    <FluentNavLink Href="appsettings" Icon="@(new Icons.Filled.Size24.SettingsCogMultiple())" IconColor="Color.Accent">Application Settings</FluentNavLink>
                    <FluentNavLink Href="accounts" Icon="@(new Icons.Regular.Size24.BuildingBank())" IconColor="Color.Accent">Accounts</FluentNavLink>
                    <FluentNavLink Href="categoriessimple" Icon="@(new Icons.Regular.Size24.BoxMultiple())" IconColor="Color.Accent">Categories</FluentNavLink>
                    <FluentNavLink Href="rules" Icon="@(new Icons.Regular.Size24.TagMultiple())" IconColor="Color.Accent">Rules</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}