@page "/income"
@using Microsoft.FluentUI.AspNetCore.Components
@using Align = Microsoft.FluentUI.AspNetCore.Components.Align
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Top" Width="100%" HorizontalGap="20">
    <NetIncome Width="1000" Height="800" ChartPeriod="@ChartPeriod"/>

    <FluentStack Orientation="Orientation.Vertical">
        <FluentSelect TOption="string" @bind-Value="@ChartPeriod" Label="Select period" SelectedOptionChanged="UpdateChart">
            <FluentOption Value="12">Last 12 months</FluentOption>
            <FluentOption Value="1">This year</FluentOption>
            <FluentOption Value="2">Last year</FluentOption>
            <FluentOption Value="3">This + Last year</FluentOption>
        </FluentSelect>

        @if (!isLoading)
        {
            <FluentDataGrid Items="@DataQ">
                <TemplateColumn Title="Month">
                    @if (context.MonthKey == "t")
                    {
                        <b>@context.MonthLabel</b>
                    }
                    else
                    {
                        <NavLink href="@($"/month/{context.MonthKey}")">@context.MonthLabel</NavLink>
                    }
                </TemplateColumn>
                <PropertyColumn Property="x => x.Income" Format="c" Align="Align.End" Title="Income"/>
                <PropertyColumn Property="x => -1 * x.Expenses" Format="c" Align="Align.End" Title="Expense"/>
                <TemplateColumn Title="Net" Align="Align.End">
                    @if (context.Balance >= 0)
                    {
                        @if (context.MonthKey == "t")
                        {
                            <span><b>@(context.Balance.ToString("c"))</b></span>
                        }
                        else
                        {
                            <span>@(context.Balance.ToString("c"))</span>
                        }
                    }
                    else
                    {
                        @if (context.MonthKey == "t")
                        {
                            <span style='color:red'><b>@(context.Balance.ToString("c"))</b></span>
                        }
                        else
                        {
                            <span style='color:red'>@(context.Balance.ToString("c"))</span>
                        }
                    }
                </TemplateColumn>
            </FluentDataGrid>
        }
    </FluentStack>
</FluentStack>