@page "/month/{month}"
@using ApexCharts
@using Microsoft.FluentUI.AspNetCore.Components
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalGap="20" Style="margin: 10px 0;">
    <FluentButton IconStart="@(new Icons.Filled.Size28.ArrowCircleLeft())" OnClick="GoBack"> Back </FluentButton>
    <h3>@(dateStart.ToString("MMMM yyyy"))</h3>
</FluentStack>

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Top" Width="100%" HorizontalGap="20">
    <ApexChart @ref=chartI TItem="CategoryChart" Title="Income" Options="optionsI" Width="600" Height="600" OnDataPointSelection=DataPointsSelected>
        <ApexPointSeries TItem="CategoryChart" Items="income" Name="Value"
                         SeriesType="SeriesType.Donut"
                         XValue="@(e => e.Category.Name)"
                         YAggregate="@(e => e.Sum(e => e.Amount))"
                         OrderByDescending="e => e.Y"/>
    </ApexChart>

    <ApexChart @ref=chartE TItem="CategoryChart" Title="Expense" Options="optionsE" Width="650" Height="650" OnDataPointSelection=DataPointsSelected>
        <ApexPointSeries TItem="CategoryChart" Items="expense" Name="Value"
                         SeriesType="SeriesType.Donut"
                         XValue="@(e => e.Category.Name)"
                         YAggregate="@(e => e.Sum(e => e.Amount))"
                         OrderByDescending="e => e.Y"/>
    </ApexChart>
</FluentStack>

<div style="margin-top: 10px">
    <TransactionsList DateStart="dateStart" DateEnd="dateEnd" Category="@selectedCategory?.Id" PageSize="7" HeightVH="32"
                      Changed="TransactionChanged"/>
</div>