@page "/"
@inject FolderPicker folderPicker
@inject IDialogService DialogService
@using Microsoft.FluentUI.AspNetCore.Components

<h3>Home</h3>

<FluentGrid Spacing="2">
    <FluentGridItem xs="4">
        <FluentCard Height="350px">
            <FluentGrid Spacing="1">
                <FluentGridItem xs="1">
                    <FluentIcon Value="@(new Icons.Filled.Size24.ArrowUpload())"/>
                </FluentGridItem>
                <FluentGridItem xs="11">
                    <FluentLabel Typo="Typography.PaneHeader"> Import transaction file </FluentLabel>
                </FluentGridItem>
                <FluentGridItem xs="12">
                    <FluentSelect TOption="string" @bind-Value="@importFileType" Label="Select file type">
                        <FluentOption Value="@ImportTypeEnum.Mint_CSV.ToString()">Mint csv</FluentOption>
                        <FluentOption Value="@ImportTypeEnum.RBC_CSV.ToString()">RBC csv</FluentOption>
                        <FluentOption Value="@ImportTypeEnum.CIBC_CSV.ToString()">CIBC csv</FluentOption>
                    </FluentSelect>
                </FluentGridItem>
                <FluentGridItem xs="12" >
                    <FluentTextField @bind-Value="importFile" Label="Select file to import" Style="width: 100%">
                        <FluentIcon Value="@(new Icons.Regular.Size16.FolderSearch())" Color="@Color.Neutral" Slot="end" OnClick="SelectImportFile"/>
                    </FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="8"/>
                <FluentGridItem xs="4">
                    <FluentButton Appearance="Appearance.Accent" OnClick="@ImportFile">Import</FluentButton>
                </FluentGridItem>
            </FluentGrid>
        </FluentCard>
    </FluentGridItem>

    <FluentGridItem xs="4">
        <FluentCard Height="350px">
            <FluentGrid Spacing="1">
                <FluentGridItem xs="1">
                    <FluentIcon Value="@(new Icons.Filled.Size24.TagQuestionMark())"/>
                </FluentGridItem>
                <FluentGridItem xs="11">
                    <FluentLabel Typo="Typography.PaneHeader"> Uncategorized transactions </FluentLabel>
                </FluentGridItem>
                <FluentGridItem xs="12"/>
                <FluentGridItem xs="8" style="margin-top: auto;"/>
                <FluentGridItem xs="4">
                    <FluentButton Appearance="Appearance.Accent">Go to transactions</FluentButton>
                </FluentGridItem>
            </FluentGrid>
        </FluentCard>
    </FluentGridItem>

    <FluentGridItem xs="4">
        <FluentCard Height="350px">
            <FluentGrid Spacing="1">
                <FluentGridItem xs="1">
                    <FluentIcon Value="@(new Icons.Filled.Size24.New())"/>
                </FluentGridItem>
                <FluentGridItem xs="11">
                    <FluentLabel Typo="Typography.PaneHeader"> Recent transactions </FluentLabel>
                </FluentGridItem>
                <FluentGridItem xs="12"/>
                <FluentGridItem xs="8"/>
                <FluentGridItem xs="4">
                    <FluentButton Appearance="Appearance.Accent">Go to transactions</FluentButton>
                </FluentGridItem>
            </FluentGrid>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>

@code {
    string importFileType = ImportTypeEnum.Mint_CSV.ToString();
    string importFile;

    void SelectImportFile()
    {
        string filterName = null;
        string filterExt = null;
        if (importFileType == ImportTypeEnum.Mint_CSV.ToString() || importFileType == ImportTypeEnum.RBC_CSV.ToString() || importFileType == ImportTypeEnum.CIBC_CSV.ToString())
        {
            filterName = "CSV file";
            filterExt = "csv";
        }

        importFile = folderPicker.DisplayFilePicker(filterName, filterExt);
    }

    async Task ImportFile()
    {
        if (Enum.TryParse(importFileType, out ImportTypeEnum importTypeEnum) && !string.IsNullOrWhiteSpace(importFile))
        {
            var dialog = await DialogService.ShowDialogAsync<ImportFileDialog>(new ImportFileParams(importTypeEnum, importFile), new DialogParameters
            {
                Height = "300px",
                Width = "600px",
                Title = "Import File",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
            });

            var result = await dialog.Result;
        }
        // var parameters = new DialogParameters<ImportFileDialog>
        // {
        //     { x => x.ImportFileType, importFileType },
        //     { x => x.ImportFile, importFile }
        // };
        //
        // var dialog = await DialogService.ShowAsync<ImportFileDialog>("Import file", parameters);
        // var result = await dialog.Result;
    }

}